/* Partners Styles */
.partners__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #9fedea;
  text-align: center;
  margin-bottom: 48px;
}

.partners__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 96px;
}
